.css-js-files-text {
    width:100%;
    min-height: 100px;
    box-sizing: border-box;
}
.css-js-files-text-full {
	min-height: 1024px;
}

.CodeMirror-sizer{ 
    margin-left: 30px !important; 
}
.CodeMirror-gutters{
    width: 3% !important;
}
.cm-s-default{
    border: 1px solid gray;
}